<div id="<%= dom_id ingredient %>">
  <div>
    <strong>Ingredient name:</strong>
    <%= ingredient.ingredient_name %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= ingredient.quantity %>
  </div>

  <div>
    <strong>Recipe:</strong>
    <%= ingredient.recipe_id %>
  </div>

</div>
